<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>寿面预定</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <style>
        .list-block{
            margin: 0;
        }

        .avatar{
            width: 1.3rem;
            border-radius: 1.3rem;
        }

        header{
            line-height: 2.2rem;
        }

    </style>
</head>
<body>

<div class="page-group">
    <div class="page page-current">

        <header class="bar bar-nav">
            <div class="label" style="float: left">寿面预定</div>
            <div style="float: right;">
                <label class="label-switch order_btn" style="margin-top: -0.15rem;">
                    <input type="checkbox">
                    <div class="checkbox"></div>
                </label>
            </div>
        </header>
        <div class="content infinite-scroll infinite-scroll-bottom" data-distance="100">
            <div class="content-block-title" style="margin: 0.5rem 0.5rem;">持有寿面卡预定才有效哦，祝寿星们生日快乐!</div>
            <div class="list-block">
                <ul class="list-container">

                </ul>
            </div>
            <!-- 加载提示符 -->
            <div class="infinite-scroll-preloader">
                <div class="preloader"></div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/javascripts/common.js' charset='utf-8'></script>
<script type='text/javascript' src='/javascripts/zepto.cookie.min.js' charset='utf-8'></script>
<script>
    $(function () {
        $.init();
        var loading = false;
        // 最多可加载的条目
        var isComplete = false;

        // 每次加载添加多少条目
        var size_load = 12;
        var page_load = 1;

        var order_checked = false;


        function createHtml(d) {
            d.time = dateFormat(new Date(d.time),"hh:mm:ss")
            var html = '<li class="item-content" id="item-'+ d.uid +'">\n' +
                '                      <div class="item-media">\n' +
                '                          <img class="avatar" src="'+ d.avatar +'" >\n' +
                '                      </div>\n' +
                '                      <div class="item-inner">\n' +
                '                          <div class="item-title">'+ d.name +'</div>\n' +
                '                          <div class="item-after">'+ d.time +'</div>\n' +
                '                      </div>\n' +
                '                  </li>';
            return html;
        }

        function addItems(page, size) {
            // 生成新条目的HTML
            var html = '';
            if(isComplete){
                return;
            }
            $.get('/noodles/get?page='+page+'&size='+size,function (response) {
                console.log(response);
                // 重置加载flag
                loading = false;
                if(response.code == 200){
                    var data = response.data;
                    data.forEach(function (d) {
                        html += createHtml(d);
                    });
                    if(page == 1){
                        $('.infinite-scroll-bottom .list-container').html('');
                    }
                    $('.infinite-scroll-bottom .list-container').append(html);
                    if(data.length < size){
                        isComplete = true;
                        $.detachInfiniteScroll($('.infinite-scroll'));
                        // 删除加载提示符
                        $('.infinite-scroll-preloader').remove();
                    } else{
                        page_load ++;
                    }
                    //容器发生改变,如果是js滚动，需要刷新滚动
                    $.refreshScroller();
                }
            });
        }

        function check_order() {
            $.post("/noodles/check",function (ret) {
                if(ret.code == 200){
                    if(ret.data){
                        order_checked = true;
                        $(".order_btn input").prop("checked",true);
                    }else{
                        $(".order_btn input").prop("checked",false);
                        order_checked = false;
                    }
                }
            });
        }

        // 注册'infinite'事件处理函数
        $(document).on('infinite', '.infinite-scroll-bottom',function() {
            // 如果正在加载，则退出
            if (loading) return;
            // 设置flag
            loading = true;
            addItems(page_load, size_load);
        });

        $(".order_btn").change(function () {
            var url = '/noodles/order';
            if(order_checked){
                url = '/noodles/cancel';
            }
            var uid = $.fn.cookie('userid') || "02447";
            $.post(url,{"uid":uid},function (res) {
                console.log(res);
                if(res.code == 200){
                    order_checked = !order_checked;
                    if(order_checked){
                        $.toast('预定成功，生日快乐...');
                        $(".order_btn input").prop("checked",true);
                    }else{
                        $.toast('取消成功，生日快乐...');
                        $(".order_btn input").prop("checked",false);
                    }
                    setTimeout(function () {
                        window.location.reload();
                    },1000);
                }else{
                    if(order_checked){
                        $(".order_btn input").prop("checked",true);
                    }else{
                        $(".order_btn input").prop("checked",false);
                    }
                    $.toast(res.msg);
                }
            });
        });

        //预先加载
        addItems(page_load, size_load);
        check_order();
    });
</script>
</body>
</html>
